## What is SQL?

**SQL (Structured Query Language)** is a critical tool for data professionals. It is the most widely used language for working with data stored in **relational databases**, making it essential for careers in **data analysis** and **data science**.

Every minute, millions of data points are generated. This raw data is stored in databases, and SQL allows professionals to **extract**, **organize**, and **analyze** it effectively.

---

## What is SQL and How Does it Work?

SQL is the standard language for managing and querying data in **relational database systems**. A database typically stores data in **tables**, which consist of **rows and columns**.

Even if you perform your analysis using tools like **Python** or **R**, you’ll often need SQL to extract the data from a company's database.

### Why SQL Matters
- Handles large volumes of data efficiently
- Supports multiple, concurrent data transactions
- Crucial for backend operations in web and enterprise applications

### Common SQL Versions
- **MySQL** (open-source)
- **PostgreSQL**
- **SQL Server**
- **SQLite**
- **Oracle SQL**

> **Note**: MySQL is one of the most widely used versions of SQL. Companies like Facebook, Instagram, and WhatsApp use it for backend data processing and storage.

---

## How SQL Queries Are Processed

When you write and run an SQL query, it goes through several phases before executing:

### 1. Parsing
- Checks the **syntax** of the SQL statement

### 2. Binding
- Verifies the **semantics** (e.g., table and column names exist)

### 3. Optimization
- Generates an efficient **query execution plan**
- SQL Server evaluates multiple possibilities and selects the fastest one

> The goal is to execute queries as efficiently as possible — the faster, the better.

---

## What is SQL Used For?

SQL provides a wide range of functionalities that are essential for managing and manipulating data:

### Common Use Cases:

- Execute queries against a database  
- Retrieve data (SELECT)  
- Insert new records (INSERT)  
- Update existing records (UPDATE)  
- Delete records (DELETE)  
- Create databases and tables  
- Create **views**, **indexes**, and **stored procedures**  
- Set **permissions** on tables, views, and procedures  

---

## Why SQL is Essential

Without SQL, interacting with databases would be far more difficult. It provides a **structured and efficient** way to control, retrieve, and manage data, which is why it’s a cornerstone of data-driven professions.

---

## What's Next?

Now that you know what SQL is and what it can do, the next step is to **install SQL** on your computer and start writing queries!

Would you like a guide on how to install MySQL or use a browser-based tool like SQL Fiddle or DB Fiddle for practice?

## Creating Tables in SQL

SQL (Structured Query Language) is used to create, manage, and manipulate databases. One of its essential tasks is creating tables to store data.

---

## SQL `CREATE TABLE` Statement

The `CREATE TABLE` statement is used to create a new table in a database.

### Syntax

```sql
CREATE TABLE table_name (
    column1 datatype,
    column2 datatype,
    column3 datatype
);
```

```sql
INT               -- Whole Numbers
DECIMAL(M,N)      -- Decimal Numbers with exact precision
VARCHAR(l)        -- String of text of length l
BLOB              -- Binary Large Object, stores large data
DATE              -- Format: 'YYYY-MM-DD'
TIMESTAMP         -- Format: 'YYYY-MM-DD HH:MM:SS' (used for recording events)
```

```sql
--Example: Creating a student Table
CREATE TABLE student (
  student_id INT PRIMARY KEY,
  name VARCHAR(40),
  major VARCHAR(40)
  -- PRIMARY KEY(student_id)
);
```

```sql
--Table Inspection and Modification
DESCRIBE student;
DROP TABLE student;
ALTER TABLE student ADD gpa DECIMAL;
ALTER TABLE student DROP COLUMN gpa;
```

### Inserting Data

```sql
INSERT INTO student VALUES(1, 'Jack', 'Biology');
INSERT INTO student VALUES(2, 'Kate', 'Sociology');
INSERT INTO student(student_id, name) VALUES(3, 'Claire');
INSERT INTO student VALUES(4, 'Jack', 'Biology');
INSERT INTO student VALUES(5, 'Mike', 'Computer Science');
```

### Constraints

```sql
CREATE TABLE student (
student_id INT PRIMARY KEY AUTO_INCREMENT,
name VARCHAR(40) NOT NULL,
-- name VARCHAR(40) UNIQUE,
major VARCHAR(40) DEFAULT 'undecided',
);
```